<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>《名侦探柯南》主线剧情筛选器</title>
</head>
<body>
  <header>
    <div class="header-inner">
      <h1>
        <small>名偵探</small><span>柯南</span>
      </h1>
      <h2>— TV版主线剧情筛选器 —</h2>
    </div>
  </header>
  <div class="screen-bar">
    剧情类型：
    <button class="selected">黑暗组织</button>
    <button class="selected">怪盗基德</button>
    <button>服部平次</button>
    <button>工藤新一</button>
    <button>FBI</button>
    <button>CIA</button>
    <small><a href="https://github.com/PeachScript/Detective-Conan-main-plot">发现错误，想帮助改进？</a></small>
  </div>
  <main class="timeline">
    <section>
      <div class="series">1</div>
      <div class="content">
        的飞洒发第三方
        <div class="roles-group">
          <span class="role Black"></span>
          <span class="role Kid"></span>
          <span class="role Heiji"></span>
          <span class="role Kudo"></span>
          <span class="role FBI"></span>
          <span class="role CIA"></span>
        </div>
      </div>
    </section>
    <section>
      <div class="series">1</div>
      <div class="content">的飞洒发第三方</div>
    </section>
    <section>
      <div class="series">1</div>
      <div class="content">的飞洒发第三方</div>
    </section>
    <section>
      <div class="series">1</div>
      <div class="content">的飞洒发第三方</div>
    </section>
    <section>
      <div class="series">1</div>
      <div class="content">的飞洒发第三方</div>
    </section>
  </main>
  <footer>
    Made with ❤️ By <a href="http://www.peachis.me">Peach</a>
  </footer>
</body>
</html>
