<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>《名侦探柯南》主线剧情筛选器</title>
</head>
<body>
  <header>
    <div class="header-inner">
      <h1>
        <small>名偵探</small><span>柯南</span>
      </h1>
      <h2>— TV版主线剧情筛选器 —</h2>
    </div>
  </header>
  <div class="screen-bar">
    剧情类型：
    <button class="selected">黑色组织</button>
    <button class="selected">怪盗基德</button>
    <button>服部平次</button>
    <button>工藤新一</button>
    <button>FBI</button>
    <button>CIA</button>
    <small>*：剧集及名称暂以优酷网为准</small>
  </div>
</body>
</html>
