* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #333;
}

@font-face {
  font-family: "conan";
  src: url("../assets/fonts/conan.eot"); /* IE9 */
  src: url("../assets/fonts/conan.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

  url("../assets/fonts/conan.woff") format("woff"), /* chrome、firefox */
  url("../assets/fonts/conan.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

  url("../assets/fonts/conan.svg#conan") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}

header {
  display: table;
  width: 100%;
  .header-inner{
    display: table-cell;
    text-align: center;
    padding-bottom: 50px;
    height: 500px;
    vertical-align: middle;
    background: url('../assets/images/header.jpg') no-repeat center;
    background-size: 100%;
    h1 {
      margin: 0;
      font-family: conan;
      font-weight: normal;
      font-size: 150px;
      color: #E5322D;
      -webkit-text-stroke: 4px #FFEB52;
    }
    small {
      position: relative;
      top: -32px;
      padding-right: 20px;
      font-style: italic;
      font-size: 60px;
      vertical-align: middle;
      -webkit-text-stroke: initial;
      background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#F01C1C), to(#FDE847));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h2 {
      margin: 10px;
      text-indent: 16px;
      letter-spacing: 16px;
      font-weight: normal;
      text-shadow: 2px 2px 8px #000;
      color: #fff;
    }
  }
}
.screen-bar {
  margin: -25px auto 0;
  width: 1000px;
  height: 50px;
  padding: 0 22px;
  color: #5d000b;
  line-height: 50px;
  font-size: 16px;
  background-color: #c3293e;
  box-shadow: 0 3px 15px rgba(0,0,0,.5);
  button {
    margin-right: 8px;
    padding: 6px 13px;
    font-size: 16px;
    line-height: 16px;
    color: #fbde95;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    text-decoration: none;
    background-color: #d83c4a;
    border: 1px solid #9E1627;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 2px rgba(255,255,255,.2) inset,
                0 1px 3px rgba(0,0,0,.5);
    &:hover {
      background-color: #EF4251;
    }
    &:active {
      background-color: #d83c4a;
      box-shadow: 0 1px 5px rgba(0,0,0,.4) inset;
    }
    &.selected {
      background-color: #BB273A;
      border-color: #801623;
      box-shadow: 0 1px 5px rgba(0,0,0,.4) inset;
    }
  }
  small {
    float: right;
  }
}
